<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <%- include("navbar") %>
    <h1 style="color: blue; text-align: center">EJS website</h1>
    <h2>msg: <%= locals.msg %></h2>
    <h3>msg2: <%= locals.msg2 %></h3>
    <h4>validated: <%= locals.validated %></h4>
    <h5>Encoded pic with base64: <%- html %></h5>
    <%# This is comment %>
    <!-- This is comment -->
  </body>
</html>

<!-- Old code -->
<!-- This is in server -->
<!-- <% for(let i=0; i<10; i++) { %>
    <li>Test <%= i %></li>
    <% } %>
    <br />
    <% for(let i=0; i<10; i++) { %> <% if (i%2 ===0) {txt="even" %> <% }else { txt="odd"} %>
    <li><%= i %> -> <%= txt%></li>
    <% } %>
    <br /> -->

<!-- This is send to the browser -->
<!-- <script>
      for (let i = 0; i < 10; i++) {
        document.write(`<li>Test2</li>`);
      }
    </script> -->
